<ul style="list-style:none">
<li>
    <table border="0" width="647" cellpadding="0" cellspacing="0" bgcolor="ffffff">
        <tbody>
        <tr>
            <td>
                <table border="0" align="center" width="647" cellpadding="0" cellspacing="0" style="padding:0px; background-color:#f2f2f2;padding:0 10px 0 10px;margin:0px;border:1px solid #e8eaf1;border-bottom:none">
                    <tbody>
                    <tr>
                        <td>
                            <table border="0" align="left" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tbody>
                                <tr><td height="15" style="font-size:23px;line-height:15px">&nbsp;</td></tr>

                                <tr>
                                    <td align="center">
                                        <table border="0" cellpadding="0" cellspacing="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a style="display:block;border-style:none!important;border:0!important">
                                                        <img width="121" border="0" style="display:block" src="http://beritadaerah.co.id/wp-content/uploads/2015/02/LogoVisijobs1.png" alt="logo" class="CToWUd"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr><td height="15" style="font-size:23px;line-height:15px">&nbsp;</td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</li>


<li>
    <table border="0" width="647" cellpadding="0" cellspacing="0" bgcolor="17191b" style="background-color:#17191b!important">
        <tbody>
        <tr>
            <td align="center" style="background:url(https://ci3.googleusercontent.com/proxy/meZadRmjDFWVBp84IbpUC92geh5dE8lF9Pi4w4AWC3YwhVfvjlh3bMu6ODxld4urYNTuLF7vbIQel8cji2zhyhreYQl3oDogvjtwxBY=s0-d-e1-ft#http://themastermail.com/envato/eventix/img/main-bg.png) no-repeat top/100% 100%;background-repeat:no-repeat" background="https://ci3.googleusercontent.com/proxy/meZadRmjDFWVBp84IbpUC92geh5dE8lF9Pi4w4AWC3YwhVfvjlh3bMu6ODxld4urYNTuLF7vbIQel8cji2zhyhreYQl3oDogvjtwxBY=s0-d-e1-ft#http://themastermail.com/envato/eventix/img/main-bg.png">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr><td height="50" style="font-size:50px;line-height:50px">&nbsp;</td></tr>
                    <tr><td height="50" style="font-size:50px;line-height:50px">&nbsp;</td></tr>

                    <tr>
                        <td align="center" style="color:#ffffff;font-size:40px;font-family:Montserrat,Calibri,sans-serif;font-weight:700;line-height:40px">


                            <div>
                                <div style="line-height:40px">
                                        <span>

                                            Mulailah karir Anda bersama kami<span style="color:#154F82">.</span>

                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr><td height="40" style="font-size:40px;line-height:40px">&nbsp;</td></tr>

                    <tr>
                        <td align="center">
                            <table align="center" width="440" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td align="center" style="color:#8b9096;font-size:18px;font-family:'Open Sans',Calibri,sans-serif;line-height:28px">

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr><td height="65" style="font-size:65px;line-height:65px">&nbsp;</td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</li>


<li>
    <table border="0" width="50%" cellpadding="0" cellspacing="0" bgcolor="2A6090" style="background-color:#e8e8e8!important">

        <tbody><tr><td height="20" style="font-size:20px;line-height:20px">&nbsp;</td></tr>

        <tr>
            <td>
                <table border="0" align="center" width="646" cellpadding="0" cellspacing="0" style="width:646px !important;padding:10px">

                    <tbody>

                    <tr>
                        <td align="center">
                            <table border="0" width="560" align="center" cellpadding="0" cellspacing="0" style="width:65%!important">
                                <tbody>
                                <tr>
                                    <td align="center" style="color:#333333;font-size:16px;font-family:'Open Sans',Calibri,sans-serif;line-height:24px">
                                        <p style="color:#333333">Terima kasih telah memercayai Visijobs.com sebagai solusi dalam mencari kandidat tenaga kerja Anda. Pembayaran anda sedang kami proses, Harap menunggu konfirmasi dari <a href="http://visijobs.com" target="_blank">visijobs.com</a>.</p>
                                        <p style="color:#333333"><strong>Mohon sertakan Bukti Pembayaran dan Fotocopy NPWP ke email <a href="mailto:cs@visijobs.com" target="_blank">cs@visijobs.com</a> atau melalui FAX: 021 290 34329.</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="color:#333333;font-size:16px;font-family:'Open Sans',Calibri,sans-serif;line-height:24px">
                                        <p style="color:#333333"><strong>Ringkasan pemesanan paket Anda:</strong></p>
                                    </td>
                                </tr>
                                <tr style="border:none">
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="30%" style="color:#333333;font-size:16px;font-family:'Open Sans',Calibri,sans-serif;line-height:24px">
                                        <p style="color:#333333"><strong>Informasi lebih lanjut dapat menghubungi:</strong></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" style="color:#333333;font-size:16px;font-family:'Open Sans',Calibri,sans-serif;line-height:24px">
                                        <p style="color:#333333"><strong>Terima kasih.</strong></p>
                                    </td>
                                </tr>

                                </tbody></table>
                        </td>
                    </tr>

                    <tr><td height="25" style="font-size:25px;line-height:25px">&nbsp;</td></tr>


                    </tbody>
                </table>
            </td>
        </tr>

        <tr><td height="20" style="font-size:20px;line-height:20px">&nbsp;</td></tr>

        </tbody></table>
</li>



<li>
    <table border="0" width="647" cellpadding="0" cellspacing="0" bgcolor="2d3d4f" style="background-color:#2d3d4f!important">

        <tbody><tr><td height="20" style="font-size:20px;line-height:20px">&nbsp;</td></tr>

        <tr>
            <td align="center">

                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0">

                    <tbody><tr>
                        <td align="center">

                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td align="center" style="color:#2c3e50;font-size:14px;font-family:'Open Sans',Calibri,sans-serif;line-height:25px">
                                        <div style="line-height:25px">
	                						<span style="color:white">

		                						Copyright © Visijobs.com 2015

	                						</span>
                                        </div>
                                    </td>
                                </tr>

                                </tbody></table>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </td>
        </tr>

        <tr><td height="20" style="font-size:20px;line-height:20px">&nbsp;</td></tr>

        </tbody></table>
</li>
</ul>