<!DOCTYPE html>
<html>
<head>
    <title>Hello World!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: -webkit-linear-gradient(top,#e8e8e8 100%,#f5f5f5 100%);
            background-image: -o-linear-gradient(top,#e8e8e8 100%,#f5f5f5 100%);
            background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
            background-image: linear-gradient(to bottom,#e8e8e8 100%,#f5f5f5 100%);
        }
    </style>
</head>
<body>
<center>
    <h1> Welcome to <span style="color: #4285F4">S</span><span style="color: #EA4335">L</span><span style="color: #FBBC05">A</span><span style="color: #4285F4">S</span><span style="color: #34A853">H</span> <span style="color: #E84739">/</span><span style="color: #E84739">> </span> Framework </h1>
</center>
</body>
</html>
